body {
	text-align: center;
	background-image: url(../img/background.png);
	background-size: cover;
	}
input {
	font-size: 5em;
	color: #FFFFFF;
}

thead {
	background-color: #3A3A3A;
	color: #FFFFFF;
	font-size: 200%;
}

#atras {
	width: 12em;
}

.adiv {
	font-size: 1.5em;
	font-weight: bold;
	color: #000000;
	background-color: #FFFFFF;
} 

 .num {
	background-color: #158AFF;
	font-size: 5em;
	color: #FFFFFF;
	padding: 40px 70px;
}

.pic2 {
	background-color: #158AFF;
	font-size: 3em;
	white-space: normal;
	width: 250px;
	font-weight: bold;
	color: #FFFFFF;
	padding: 20px 20px;
}

thead {
	background-color: #3A3A3A;
	color: #FFFFFF;
	font-size: 200%;
}

button {
	border-radius: 2em;
	font-size: 2em;
	font-weight: bold;
	color: #00000;
	border-color: #dae0db;
}

#num {
	background-color: #FFCB05;
}

#anim {
	background-color: #FF189D;
}

#color {
	background-color: #FF8040;
}

#cuerpo {
	background-color: #0092FF;
}
h1 {
	font-weight: bold;
	color: #FFFFFF;
}

#abej, #uno {
	background-color: #FF189D;
}
#gato, #dos {
	background-color: #158AFF;
}
#perr, #tre {
	background-color: #00FF7F;
}
#tort, #cua {
	background-color: #8000FF;
}
#rata, #cin {
	background-color: #FF903E;
}
#pica, .pic, #sei {
	background-color: #FF80FF;
}
#vibo, #sie {
	background-color: #FF1AFF;
}
#loro, #och {
	background-color: #FFFF59;
}
#sapo, #nue {
	background-color: #FF8080;
}

#rojo, .roj, #die{
	background-color: #FD0000;
}
#azul, .azu, #cer {
	background-color: #158AFF;
}
#amarillo, .ama {
	background-color: #FFFF59;
}
#verde, .ver {
	background-color: #20D620;
}
#morado, .mor {
	background-color: #71678C;
}
#naranja, .nar {
	background-color: #FF8040;
}
#negro, .neg {
	background-color: #000000;
}
#blanco, .bla {
	background-color: #FFFFFF;
}
#celeste, .cel {
	background-color: #CBEAFE;
}

#plomo, .plo {
	background-color: #A19FA4;
}
#gris, .gri {
	background-color: #E6E3E6;
}

#cafe, .caf {
	background-color: #695B5A;
}

.roj, .azu, .ama, .ver, .mor, .nar, .neg, .bla, .cel, .plo, .gri, .caf {
	font-size: 3em;
}


 .msj {
	font-size: 2em;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #000000;
 }
 
  #msj {
	color: #000000;
 }
 
 .salud{
 	font-size: 1em;
	font-weight: bold;
	width: 200px;
 }

  .btnch {
	border-radius: 50%;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
 }
 
 .btnstd {
	background-color: #158AFF;
 }
 .btnexa {
	background-color: #FF903E;
 }
 .btnbck {
	background-color: #FF1AFF;
 }
 
 .circle {
	 width: 80px;
	 height: 80px;
 }






