body {
	text-align: center;
	background-image: url(../img/background.png);
	background-size: cover;
	}

button {
	border-radius: 20px;
	font-size: 2em;
	font-weight: bold;
	color: #FFFFFF;
}
#num {
	background-color: #FFCB05;
}
#anim {
	background-color: #FF189D;
}
#color {
	background-color: #FF8040;
}
#cuerpo {
	background-color: #0092FF;
}
#autor {
	background-color: #000000;
}
h1 {
	font-weight: bold;
}